.rightFrame form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: stretch;
}

    .rightTextCt {
        width: 100%;
        height: calc(100% - 60px);
        padding: 40px;
        box-sizing: border-box;
        position: relative;
    }

        .rightTextFlex {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

            .rightTextInput {
                width: 100%;
                height: 50px;
                box-sizing: border-box;
                margin-bottom: 25px;
            }

                .rightTextInput input{
                    width: 100%;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 40px;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0px;
                    transition: 0.2s all ease-out;
                    border: 0px;
                    font-family: 'Nunito', sans-serif;
                }

                    .rightTextInput input:focus,
                    .rightSave input:focus,
                    .rightTextTextarea textarea:focus {
                        outline: none!important;
                    }

            .rightTextTextarea {
                height: calc(100% - 25px);
            }

                .rightTextTextarea textarea{
                    width: 100%;
                    height: 100%;
                    display: block;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0px;
                    transition: 0.2s all ease-out;
                    border: 0px;
                    font-family: 'Nunito', sans-serif;
                    resize: none;
                }