@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #212121;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 970px) {
  body {
  }
}