.leftTop {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding-top: 13px;
    border-bottom: 1px solid #dddddd;
    position: relative;
}

    .leftTopTags {
        position: absolute;
        z-index: 200;
        left: 15px;
        top: 15px;
        width: 30px;
        height: 30px;
    }

        .leftTopTagsClick {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            cursor: pointer;
            transition: 0.2s all ease-out;
        }

        .leftTopTagsClick:hover {
            transform: rotate(-10deg);
            opacity: 0.5;
        }

            .leftTopTagsClick img {
                width: 100%;
            }

        .leftTopTagsCt {
            position: absolute;
            top: 35px;
            left: 0px;
            width: 200px;
            background-color: #fff;
            -webkit-box-shadow: 0px 2px 23px -8px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 2px 23px -8px rgba(0,0,0,0.4);
            box-shadow: 0px 2px 23px -8px rgba(0,0,0,0.4);
            max-height: 0px;
            transition: 0.2s all ease-out;
            overflow: hidden;
        }

            .leftTopTagsCt.tagsOpened {
                max-height: none;
            }

            .leftTopTagCt {
                position: relative;
                width: 100%;
                line-height: 39px;
                height: 40px;
                overflow: hidden;
                font-size: 16px;
                font-weight: 600;
                padding: 0px 30px 0px 40px;
                color: #212121;
                box-sizing: border-box;
                border-bottom: 1px solid #eee;
                transition: 0.2s all ease-out;
                cursor: pointer;
            }

                .leftTopTagCt:hover {
                    background-color: #ddefff;
                }

                .leftTopTagCt::before {
                    display: block;
                    content: "";
                    width: 14px;
                    height: 14px;
                    box-sizing: border-box;
                    border-radius: 3px;
                    border: 2px solid #2599ff;
                    top: 13px;
                    left: 13px;
                    position: absolute;
                    transition: 0.2s all ease-out;
                }

                .leftTopTagCt::after {
                    display: block;
                    content: "";
                    width: 8px;
                    height: 8px;
                    box-sizing: border-box;
                    border-radius: 1px;
                    background-color: #2599ff;
                    opacity: 0;
                    top: 16px;
                    left: 16px;
                    position: absolute;
                    transition: 0.2s all ease-out;
                }

                    .leftTopTagCt.tagOn::after {
                        opacity: 1;
                    }

                    .leftTopTagCt span {
                        display: block;
                        width: 100%;
                        overflow: hidden;
                    }

        .leftTopTagCtDelete {
            width: 17px;
            height: 17px;
            display: block;
            position: absolute;
            top: 11px;
            right: 10px;
            cursor: pointer;
        }

            .leftTopTagCtDelete:after {
                width: 100%;
                height: 100%;
                content: "";
                display: block;
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                background-image: url(/icons/plus.svg);
                transform: rotate(45deg);
                filter: grayscale(100);
                opacity: 0.6;
                transition: 0.2s all ease-out;
            }

            .leftTopTagCtDelete:hover:after {
                opacity: 1;
            }

    .leftTopSearch {
        width: 320px;
        height: 35px;
        margin-left: 65px;
        position: relative;
    }

        .leftTopSearch:before {
            width: 20px;
            height: 20px;
            display: block;
            background-image: url('/icons/search.svg');
            background-size: contain;
            background-repeat: no-repeat;
            content: "";
            position: absolute;
            top: 7px;
            left: 14px;
            opacity: 0.2;
            pointer-events: none;
        }

        .leftTopSearch input {
            width: 100%;
            height: 100%;
            line-height: 40px;
            box-sizing: border-box;
            padding-left: 45px;
            padding-right: 35px;
            transition: 0.2s all ease-out;
            border: 1px solid #dddddd;
            border-radius: 35px;
            font-family: 'Nunito', sans-serif;
            font-size: 15px;
            color: #212121;
        }

            .leftTopSearch input:focus {
                outline: none !important;
                border: 1px solid #2599ff;
            }

            .searchNoResults {
                font-size: 15px;
                opacity: 0.7;
                font-style: italic;
                margin-top: 20px;
                width: 100%;
                text-align: center;
            }

            .leftTopClearSearch {
                filter: grayscale(100);
                position: absolute;
                width: 20px;
                height: 20px;
                right: 10px;
                top: 8px;
                opacity: 0.7;
                transition: 0.2s all ease-out;
                cursor: pointer;
            }

                .leftTopClearSearch img {
                    transform: rotate(45deg);
                }

                .leftTopClearSearch:hover {
                    opacity: 1;
                }

    .leftTopPlus {
        height: 24px;
        right: 18px;
        top: 18px;
        position: absolute;
        cursor: pointer;
        transition: 0.2s all ease-out;
    }

        .leftTopPlus:hover {
            opacity: 0.5;
        }

        .leftTopPlus img {
            height: 100%;
        }

        .inEditing .leftTopPlus {
            cursor: initial;
            opacity: 0.3;
        }

.leftNotesCt {
    position: relative;
    height: calc(100% - 60px);
    overflow: hidden;
    overflow-y: auto;
}

.leftNotesCt::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.leftNotesCt::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}
.leftNotesCt::-webkit-scrollbar-thumb {
  background: #949494;
  border: 0px none #ffffff;
  border-radius: 72px;
}
.leftNotesCt::-webkit-scrollbar-thumb:hover {
  background: #515151;
}
.leftNotesCt::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.leftNotesCt::-webkit-scrollbar-track {
  background: #dfdfdf70;
  border: 0px none #ffffff;
  border-radius: 23px;
}
.leftNotesCt::-webkit-scrollbar-track:hover {
  background: #dfdfdf;
}
.leftNotesCt::-webkit-scrollbar-track:active {
  background: #333333;
}
.leftNotesCt::-webkit-scrollbar-corner {
  background: transparent;
}