.leftNoteCt {
    display: block;
    box-sizing: border-box;
    padding: 20px 50px 20px 65px;
    border-bottom: 1px solid #dddddd70;
    cursor: pointer;
    transition: 0.2s all ease-out;
    position: relative;
}

    .leftNoteCt:hover {
        background-color: #eef3f860;
    }

    .leftNoteCt.current {
        background-color: #eef3f8;
    }

    .inEditing .leftNoteCt.current .leftNoteTitle{
        font-style: italic;
        opacity: 0.6;
    }

    .leftNoteFlag {
        position: absolute;
        height: 23px;
        width: 25px;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        filter: grayscale(100);
        opacity: 0.2;
        transition: 0.2s all ease-out;
    }

        .leftNoteFlag:hover {
            opacity: 0.5;
        }

        .leftNoteFlag img {
            width: 100%;
        }


        .leftNoteCt.important .leftNoteFlag {
            filter: grayscale(0);
            opacity: 1;
        }


    .leftNoteTitle {
        font-size: 17px;
        font-weight: 600;
        height: 20px;
        overflow: hidden;
        width: 100%;
        margin-bottom: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .leftNoteCt.important .leftNoteTitle {
            color: #e02222;
        }
    
    .leftNoteDesc {
        color: #3a3a3a80;
        max-height: 20px;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .leftNoteTags {
        margin-top: 5px;
        height: 18px;
        overflow: hidden;
    }

    .leftNoteTag {
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
        font-size: 12px;
        opacity: 0.8;
        background-color: #eee;
        line-height: 18px;
        padding: 0px 10px;
        border-radius: 20px;
        font-weight: 600;
        color: #212121;
    }