.leftTop {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dddddd;
    position: relative;
}

    .leftTopPlus {
        height: 24px;
        right: 18px;
        top: 18px;
        position: absolute;
        cursor: pointer;
        transition: 0.2s all ease-out;
    }

        .leftTopPlus:hover {
            opacity: 0.5;
        }

        .leftTopPlus img {
            height: 100%;
        }